.column-1-3 {
	float: left;
	width: 30%;
	margin: 6px;
}

.prices .title-medium {
	color: gray;
}

.variant {
	background: rgba(138, 186, 86, 0.5);
	border: 3px solid rgba(138, 186, 86);
	border-radius: 10px;
	width: 90%;
	margin: auto;
	padding: 10px;
}

@media (max-width: 640px) {
	.column-1-3 {
		float: none;
		width: auto;
	}
}
